body{
    margin: 0px;
}
#box1
{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    background: greenyellow;
    padding: 30px;
    margin-left: auto;

}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: dodgerblue;
}
